#navContainer
	#navLogo
		#logo 
			#img
				img(src='/img/boatLogo.png') 
			#word BoatBook
		#findBoat 
			#img
				img(src='/img/search.png') 
			#word Find Boats
		#yourBoat 
			#img
				img(src='/img/myBoat.png') 
			#word Your Boat		
	#navLinks
		nav
			ul#navUl
				li
					a(href='/sessions/destroy') Logout
				li
					a(href='/home/settings') Settings
				li
					a(href='/home/inbox') Inbox
				li
					a(href='/home') Dash