#homeContainer
	#listingsNew
		#miniNav
			a(href='/home') Dash
			a(href='/home/inbox') Inbox
			a(href='/home/listings').Selected Listings
			a(href='/home/reservations') Reservations
			a(href='/home/settings') Settings
			a(href='/help')	Help
		#mainContainer
			h2 Enter Your Boat Location
			p	Remember that we will only share the location of your boat once you have accepted a reservation. All private information is hidden from general view.




