#homeContainer
	#sideRight
		#profilePicContainer
			!=partial('../partials/photoProfileBlock')
		#extraBlock
	#sideLeft
		#leftMsgContainer
			#textPlate
				p Edit Details
				
!=partial('../partials/photoUploadBox')