#homeContainer
	#sideRight
		#profilePicContainer
			!=partial('../partials/photoProfileBlock')
	#sideLeft
		#miniNav
			a(href='/home').Selected Dash
			a(href='/sessions/destroy') Logout
		#leftAlertContainer
			h2.dotter Inbox (0)

!=partial('../partials/photoUploadBox')


